haskread-platform-be/.logs/dev_logs.txt
haskread-platform-be/dist-newstyle/cache/compiler
haskread-platform-be/dist-newstyle/cache/config
haskread-platform-be/.logs/dev_logs.txt
.psc-ide-port
haskread-platform-be/file-upload
haskread-platform-be/stack.yaml.lock
haskread-platform-ui/stack.yaml.lock
haskread-platform-be/rate_limit.db
