:3001 {
    handle /callback {
        reverse_proxy http://localhost:8085
    }
    handle /api/* {
        reverse_proxy http://localhost:8085
    }
    handle {
        reverse_proxy http://localhost:3000
    }
}
